<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hotel Adactin Mobile App Regression Test Suite">
<listeners>
	<listener class-name="reportgeneration.TestListener" />
</listeners> 
	 <test name="Login Verification with no user id and password">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.BlankLoginVerificationTest" />		
		</classes>
	</test> 
	
	<test name = "Login Verification with invalid user id and password">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.InvalidLoginVerificationTest"/>
		</classes>
	</test>
	
	<test name = "Login verification with valid user id and password">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.ValidLoginVerificationTest"/>
		</classes>
	</test>
	
	<test name = "Book Now verification with no input">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.BookHotel_BlankFields"/>
		</classes>
	</test>
	
	<test name = "Book hotel verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.BookHotelVerificationTest"/>
		</classes>
	</test>
	
	<test name = "Booking cancelation verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.BookingCancelationVerification"/>
		</classes>
	</test>
	
	<test name = "Forgot Password verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.ForgotPasswordVerification"/>
		</classes>
	</test>
	
	<test name = "Logout verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.LogoutVerification"/>
		</classes>
	</test>
	
	<test name = "Reset Search Verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.ResetSearchVerification"/>
		</classes>
	</test>
	
	<test name = "Search Hotel with all inputs">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.SearchHotel_AllFields"/>
		</classes>
	</test>
	
	<test name = "Search hotel with no valid inputs">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.SearchHotel_BlankFields"/>
		</classes>
	</test>
	
	<test name = "Search hotel with only location">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.SearchHotel_Location"/>
		</classes>
	</test>
	
	<test name = "Search hotel with location and hotel name">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.SearchHotel_LocationHotelName"/>
		</classes>
	</test>
	
	<test name = "Select Hotel Verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.SelectHotelVerification"/>
		</classes>
	</test>
	
	<test name = "View Booked Hotel Details verification">
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.ViewBookedHotelDetails"/>
		</classes>
	</test>
	
	<test name = "View Booked itinerary">
	<parameter name="config" value="EnvConfig.properties"/>
		<parameter name="config" value="EnvConfig.properties"/>
		<classes>
			<class name="com.adactin.Mobileapphoteladactin1.tests.ViewItineraryVerification"/>
		</classes>
	</test>
	
</suite> 

